<mat-toolbar color="primary" class="mat-elevation-z6" style="position:fixed;z-index: 999;top:0px">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Ticketing.com</h1>
    <div>
      <a mat-button [routerLink]="'/tickets'"> Tickets </a>
      <a mat-button [routerLink]="'/sell-ticket'" *ngIf="isLogin"> Sell Ticket </a>
      <a mat-button [routerLink]="'/myorders'" *ngIf="isLogin"> My Orders </a>
      
    </div>

    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/auth/signup'" *ngIf="!isLogin"> Sign Up </a>
      <a mat-button [routerLink]="'/auth/signin'" *ngIf="!isLogin"> Sign In </a>
      <a mat-button [routerLink]="'/auth/signout'" *ngIf="isLogin"> Log Out </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="false">
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="flex:1">
  <mat-sidenav #sidenav>
    <mat-nav-list class="menu-list">
      <a mat-list-item [routerLink]="'/tickets'"> Tickets </a>
      <a mat-list-item [routerLink]="'/sell-ticket'" *ngIf="isLogin"> Sell Ticket </a>
      <a mat-list-item [routerLink]="'/myorders'" *ngIf="isLogin"> My Orders </a>
      <hr>
      <a mat-list-item [routerLink]="'/auth/signup'" *ngIf="!isLogin"> Sign Up </a>
      <a mat-list-item [routerLink]="'/auth/signin'" *ngIf="!isLogin"> Sign In </a>
      <a mat-list-item [routerLink]="'/auth/signout'" *ngIf="isLogin"> Log Out </a>
      

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 100%;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>