<div class="page-content">
    
    <mat-card>
        <mat-card-content>
            {{tickets.length}} total ticket.
        </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let ticket of tickets">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{ticket.title}}</mat-card-title>
            <mat-card-subtitle>Awesome Ticket!</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>Price: {{ticket.price}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>Like</button>
            <button mat-button (click)="PurchaseTicket(ticket)">Purchase</button>
            <button mat-button color="warn" (click)="DeleteTicket(ticket)" *ngIf="isLogin">Delete</button>
        </mat-card-actions>
    </mat-card>

</div>